*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000000;
    background-image: url("Imagens/PF_codigos.jpg");
    background-size: auto;
}
.botoesdelinks{
    background-color: #39FF14;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: inherit; /*Para retirar a cor padrão azul, do link*/
    color: #ffffff;
    display: flex;
    width: 150px;
    height: 50px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 0px solid #39FF14;
    background: #39FF14;
}
h1{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
p{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}